body {
  background: #404347 url(../imagenes/fondo.gif) repeat-x;
  font-variant: small-caps;
}

.contenedor {
  width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: arial;
  color: #60C3DB;
  box-shadow: 1px 1px 200px #60C3DB;
  border-radius: 0.25rem;
}

.header__title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #60C3DB;
}
.nav__item{
  list-style: none;
  margin-bottom: 15px; ;
}

.section{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #60C3DB;
  margin-bottom: 40px;
  margin-top: 40px;
}
.section__imagen-grande{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__imagen-peque{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__img-peq{
  width: 500px;
}
.section__img{
  width: 900px;
}
.text_img{
  width: 40%;
}
.text_img-grand{
  width: 60%;
  text-align: center;
}
.cards{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #60C3DB;
}
.card{
  display: flex;
  margin-right: 20px;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px; 
}
.card__img{
  width: 60%;
  margin-right: 20px;
}
.card__text{
  width: 50%;
  text-align: justify;
}

.cards-flex{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.card-flex{
  border: 1px solid #60C3DB;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
  width: 30%;
  border-radius: 3px;
}

.cord__bord{
  border: 1px solid #60C3DB;
  border-radius: 3px;
}

/* Primera columna */
.card__gho-pri{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.card__gho-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__gho-ter{
  align-items: end;
}
.card__gho-cua{
  align-items: center;
}

/* Segunda columna */
.card__cel-pri{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}
.card__cel-sec{
  align-items: start;
}
.card__cel-ter{
  align-items: end;
  flex-direction: column-reverse;
}

/* Tercera columna */
.card__flex-ter{
  justify-content: space-between;
}
.cards-ter{
  height: 25%;
  display: flex;
}
.card__tu-pri{
  flex-direction: row-reverse;
}

/* Estilos texto e imagenes */
.card-flex__img{
  width: 55%;
  margin: 20px 20px 20px 20px; 
}
.card-flex__text{
  text-align: justify;
  width: 50%;
  margin: 10px;
  font-size: 13.8px;
}
